$primary-color: #F96305;// #F7931E;
// #fd990c
// #fe9a0c
// $secondary-color: #54595F;
$secondary-color: #C70039; //#FC2E20;
$background-color: #1B1A17;
// $background-color: #aaa;
$block-color: #1F2021;
// $text-color: #7A7A7A;
$text-color: #fff;
$text-color-headeer: #000;
$text-color-secondry: #a3a3a3;
$accent-color: #61CE70;

$light: #FFFFFF;
$dark: #152440;

// --e-global-color-e8012d1: #6EC1E4;
// --e-global-color-f3ba9bb: #1F2021;
// --e-global-color-9017d7d: #1B1A17;