// $primary-color: #F96305;// #F7931E;
// // #fd990c
// // #fe9a0c
// // $secondary-color: #54595F;
// $secondary-color: #C70039; //#FC2E20;
// $background-color: #1B1A17;
// // $background-color: #aaa;
// $block-color: #1F2021;
// // $text-color: #7A7A7A;
// $text-color: #fff;
// $text-color-header: #fff;
// $text-color-secondry: #a3a3a3;
// $accent-color: #61CE70;

// $light: #FFFFFF;
// $dark: #152440;

// --e-global-color-e8012d1: #6EC1E4;
// --e-global-color-f3ba9bb: #1F2021;
// --e-global-color-9017d7d: #1B1A17;

$primary-color: #F5841A;
$secondary-color: #BB0029;
$background-color: #1B1A17;
$block-color: #1F2021;
$text-color: #F2E8C6;
$text-color-header: #F2E8C6;
$text-color-secondry: #F5841A;

// $primary-color: #FF7100;
// $secondary-color: #BE3030;
// $background-color: #222222;
// $block-color: #3A3535;
// $text-color: #EEEEEE;
// $text-color-header: #EEEEEE;
// $text-color-secondry: #FF7100;

// $primary-color: #FF7315;
// $secondary-color: #E9290F;
// $background-color: #232020;
// $block-color: #3A3535;
// $text-color: #F4F4F4;
// $text-color-header: #F4F4F4;
// $text-color-secondry: #FF7315;

// $primary-color: #D89216;
// $secondary-color: #374045;
// $background-color: #2C061F;
// $block-color: #374045;
// $text-color: #E1D89F;
// $text-color-header: #E1D89F;
// $text-color-secondry: #082032;

// $primary-color: #E25822;
// $secondary-color: #000839;
// $background-color: #000000;
// $block-color: #10316B;
// $text-color: #ECECEB;
// $text-color-header: #ECECEB;
// $text-color-secondry: #082032;

// $primary-color: #FF6337;
// $secondary-color: #FFA323;
// $background-color: #002F35;
// $block-color: #004A2F;
// $text-color: #FFEBB7;
// $text-color-header: #FFEBB7;
// $text-color-secondry: #082032;

// $primary-color: #F0A500;
// $secondary-color: #F94C66;
// $background-color: #334756;
// $block-color: #082032;
// $text-color: #FFEBB7;
// $text-color-header: #FFEBB7;
// $text-color-secondry: #082032;

// $primary-color: #FF6E31;
// $secondary-color: #F94C66;
// $background-color: #243763;
// $block-color: #AD8E70;
// $text-color: #FFEBB7;
// $text-color-header: #FFEBB7;
// $text-color-secondry: #AD8E70;

// $primary-color: #FFC54D;
// $secondary-color: #F94C66;
// $background-color: #272121;
// $block-color: #443737;
// $text-color: #BD4291;
// $text-color-header: #53BF9D;
// $text-color-secondry: #a3a3a3;


// $primary-color: #FF4D00;
// $secondary-color: #FF0000;
// $background-color: #272121;
// $block-color: #443737;
// $text-color: #EEEEEE;
// $text-color-header: #fff;
// $text-color-secondry: #a3a3a3;


// $primary-color: #FF5F00;
// $secondary-color: #B20600;
// $background-color: #00092C;
// $block-color: #1F2021;
// $text-color: #EEEEEE;
// $text-color-header: #fff;
// $text-color-secondry: #a3a3a3;

$light: #FFFFFF;
$dark: #152440;