$primary-color: #F7931E;
// #fd990c
// #fe9a0c
// $secondary-color: #54595F;
$secondary-color: #8b1310;
$background-color: #1B1A17;
$block-color: #1F2021;
// $text-color: #7A7A7A;
$text-color: #fff;
$accent-color: #61CE70;