@import "@/assets/scss/_variables.scss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    color: $text-color;
    background-color: $background-color;
    font-family: 'Peyda' !important;

    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
}

* {
    font-family: 'Peyda' !important;
}

.content {
    width: 65%;
    margin-left: 10%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media (max-width: 800px) {
    // .sidebar {
        
    //     &__nav {
    //         flex-direction: row;
    //     }

    //     &__cv,
    //     &__theme {
    //         display: none;
    //     }
    // }
}


@media (min-width: 800px) {
    // .sidebar {
    //     flex-direction: column;
    //     width: 5%;
    //     height: 100vh;
    //     top: 0px;

    //     &__nav {
    //         flex-direction: column;
    //     }

    //     &__cv,
    //     &__theme {
    //         display: inline;
    //     }
    // }
}

// @media (max-width: 400px) {
//     .summery {
//         display: none;
//     }
// }