@import "@/assets/scss/_variables.scss";

@font-face {
    font-family: iransans;
    src: url(@/assets/fonts/IRANSansWeb_FaNum_.ttf);
}
@font-face {
    font-family: peyda;
    src: url(@/assets/fonts/Peyda-SemiBold.ttf);
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: peyda !important;
}
body {
    margin: 0px;
    padding: 0px;
    color: $text-color;
    background-color: $background-color;
    font-family: iransans !important;
    
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
}

* {
    font-family: iransans !important;
}

.dir-rtl {
    direction: rtl !important;
}

.dir-ltr {
    direction: ltr !important;
}

.text-right {
    text-align: right !important;
}

.content {
    // width: 100%;
    margin: 3%;
}

.ltx-overlay-main-waves {
    display: block;
    height: 64px;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
    margin-top: -64px;
    mask-image: url(@/assets/themes/wave.svg);
    -webkit-mask-image: url(@/assets/themes/wave.svg);
    mask-size: 1940px;
    -webkit-mask-size: 1940px;
    position: absolute;
    left: -10px;
    right: 0;
    background-color: $secondary-color;
}

.ltx-overlay-second-waves {
    display: block;
    height: 68px;
    z-index: 9;
    pointer-events: none;
    overflow: hidden;
    margin-top: -74px;
    mask-image: url(@/assets/themes/wave.svg);
    -webkit-mask-image: url(@/assets/themes/wave.svg);
    mask-size: 1940px;
    -webkit-mask-size: 1940px;
    position: absolute;
    left: -150px;
    right: 0;
    background-color: $primary-color;
}

@media (max-width: 800px) {

}

@media (min-width: 800px) {
    
}

@media (max-width: 400px) {

}